body{
font-family: Arial, sans-serif;
margin:40px;
}
h1{
color:#333;
}
.text{
color:blue;
}
#title{
text-decoration:underline;
}
*{
box-sizing:border-box;
}
.container span{
color:rgb(11, 216, 11);
}
a:hover{
color:rgb(230, 10, 10);
}
ul li:first-child{
font-weight:bold;
}
